h1 {
  color: #9DB2B4;
  text-align: center;
  font-size: 60px;
  font-family:
}

#image {
  width: 125px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 150px;

}

#img-caption{
  font-size: 20px;
  text-align: center;
  flex-direction: row;
  display: block;
  font-family: Open Sans Condensed, sans-serif;
  justify-content: center;
}

.flex{
  display: flex;
  flex-direction: row;
}

#background {
  background-color: #7ABDDC;
}

#tribute-info: {
  font-size: 30px;
  text-align: center;
  font-family: 
}